# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

.idea/
Makefile
*.make
*.a

# LFS Folders
lfs/
hooks/

# Meta Files
**.meta

# Log files
**.log

# Auto saves
*.auto

# Dumps
*.nvdbg
*.nv-gpudmp
*gpudmp.json

bin/
bin-int/
obj/
**/cache/**
**/Cache/**
Intermediates/
__pycache__

oblikovati_runtime/DotNet
oblikovati_runtime/**/*.pdb

lib_vendor_source/**/*.pdb

#Exceptions

!lib_vendor_precompiled/